<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Serial Number</th>
            <th>Free Memory</th>
            <th>cdp neighbor</th>
            <th>Mgmt interface IP</th>
            <th>IOS Version</th>
        </tr>
    </thead>
    <tbody>
{% for network_switch in groups['lab'] %}
        <tr>
            <td><a href="{{hostvars[network_switch]['ansible_net_hostname']}}.txt">{{hostvars[network_switch]['ansible_net_hostname']}}</a></td>
            <td>{{hostvars[network_switch]['ansible_net_serialnum']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_memfree_mb']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_neighbors']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_interfaces']['Ethernet0/0']['ipv4'][0]['address']}}</td>
            <td {% if hostvars[network_switch]['ansible_net_version'] != desired_ios_version %}style="background:yellow;"{% endif %}>{{hostvars[network_switch]['ansible_net_version']}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>
